{{- $scratch := newScratch }}
{{- if isset .Params "image" }}
  {{- $scratch.Set "image" .Params.image }}
{{- else }}
  {{- $scratch.Set "image" "thumbnail.svg" }}
{{- end }}
{{- $image := $scratch.Get "image" }}
{{- $bg := (path.Join "images" $image | absLangURL) }}
<li class = 'post_item'>
  {{ if isset .Params "externalimage" }}
    <a class = 'post_card' href='{{ .Params.externallink }}' title = '{{ .Title }}' style = 'background-image: url({{ .Params.externalimage }});'>
    </a>
  {{else}}
    <a class = 'post_card' href='{{ .Params.externallink }}' title = '{{ .Title }}' style = 'background-image: url({{ $bg }});'>
    </a>
  {{ end }}
  <div class = 'excerpt'>
    <div class = 'excerpt_meta'>
    {{- with .Params.tags -}}
      {{- range first 1 . }}
      {{- $tag := . | urlize }}
      <a href = '{{ absURL (printf "tags/%s" $tag) }}' class = 'post_tag'>
        {{- . }}
      </a>
      {{- end }}
    {{- end }}
    {{- partial "copy" . }}
    </div>
    <h3 class = 'post_link'>
      <a href='{{ .Params.externallink }}'>{{ .Title  }}</a> <span>&#x1F517;</span>
    </h3>
    <p class = 'pale'>{{ .Summary | truncate 90 }}</p>
  </div>
</li>
